# Assignment 3

### Write a function to count the number 4 in a given list.

In [1]:
def count_4(list_1):
    count=0
    for i in list_1:
        if(i==4):
            count +=1
    return count
print(count_4([1,2,5,4,4,4,3]))

3

### write a  function to check whether a number is divisible by another number.

In [2]:
def divisible(num_1,num_2):
    return num_1%num_2==0
print(divisible(12,4))
print(divisible(13,4))

True
False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [3]:
def max_min(seq):
    max_num=seq[0]
    min_num=seq[0]
    for i in seq:
        if(i>max_num):
            max_num=i
        if(i<min_num):
            min_num=i
    return max_num,min_num
print(max_min([22,4,32,5,6,7]))

(32, 4)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [4]:
def common(list_1,list_2):
    for i in list_1:
        for j in list_2:
            if i==j:
                return True
    return False
print(common([1,2,'a'],[4,'b',3]))
print(common([1,2,'a'],[4,'a',3]))

False
True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [5]:
def fact(num):
    if num==1:
        return 1
    return num*fact(num-1)
print(fact(int(input())))

5
120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [6]:
def check(num):
    return num in range(3,12)
print(check(5))
print(check(11))
print(check(12))

True
True
False

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [7]:
def mult_table(num):
    for i in range(1,11):
        print(num*i)
mult_table(3)

3
6
9
12
15
18
21
24
27
30

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(num_1,num_2):
    if(num_1%2==0 and num_2%2==0):
        return num_1 if num_1<num_2 else num_2
    else:
        return num_1 if num_1>num_2 else num_2       
print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,5))

2
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(string):
    return string.split(" ")[0][0]==string.split(" ")[1][0]
print(animal_crackers('Levelheaded Llama'))
print(animal_crackers('Crazy Kangaroo'))

True
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(num_1,num_2):
    return num_1+num_2==20 or num_1==20 or num_2==20
print(makes_twenty(20,10))
print(makes_twenty(12,8))
print(makes_twenty(2,3))

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [11]:
def almost_there(num):
    return abs(100-num)<=10 or abs(200-num)<=10
print(almost_there(90))
print(almost_there(104))
print(almost_there(150))
print(almost_there(209))

True
True
False
True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [12]:
def blackjack(num_1,num_2,num_3):
    sum=num_1 + num_2 + num_3
    if sum<=21:
        return sum
    else:
        if(num_1==11 or num_2==11 or num_3==11):
            return sum-10
        else:
            return 'bust'
print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
bust
19